<template>
  <button class="nav-button" :class="{ 'active': active }" @mouseover="handleMouseOver" @mouseleave="handleMouseLeave">
    <slot name="icon"></slot>
    <span class="nav-button__label" :class="{ 'active': active }">{{ label }}</span>
    <IconChevron :style="{ display: chevron }" :iconColor="iconColor"/>
  </button>
</template>

<script>
import IconChevron from "@/components/icons/IconChevron.vue";
export default {
  name: "NavButton",
  components: {IconChevron},
  data() {
    return {
      iconColor: '#9197B3',
    };
  },
  props: {
    label: {
      type: String,
      default: '',
    },
    chevron: {
      type: String,
      default: 'block'
    },
    active: {
      type: Boolean,
      default: false,
    }
  },
  methods: {
    handleMouseOver() {
      this.iconColor = '#FFFFFF'; // Set the icon color on hover
    },
    handleMouseLeave() {
      this.iconColor = '#9197B3'; // Reset the icon color on mouse leave
    },
  },
}
</script>

<style scoped>
.nav-button {
  display: flex;
  align-items: center;
  width: 100%;
  border: none;
  background: transparent;
  padding: 11px;
  cursor: pointer;
  border-radius: 8px;
}

.nav-button__label {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  line-height: 1.5rem;
  padding-left: 14px;
  color: #9197B3;
}
.nav-button:hover,
.nav-button:hover .nav-button__label,
.active {
  background: #5932EA;
  color: white;
}
</style>