<template>
  <div class="navbar">
    <LogoComponent/>

    <div class="navbar__buttons">
      <NavButton :label="dashboard" :chevron="chevron">
        <template v-slot:icon>
          <IconKey />
        </template>
      </NavButton>
      <NavButton :label="product">
        <template v-slot:icon>
          <IconProduct />
        </template>
      </NavButton>
      <NavButton :label="customers" :active="true">
        <template v-slot:icon>
          <IconUser />
        </template>
      </NavButton>
      <NavButton :label="income">
        <template v-slot:icon>
          <IconIncome />
        </template>
      </NavButton>
      <NavButton :label="promote">
        <template v-slot:icon>
          <IconPromote />
        </template>
      </NavButton>
      <NavButton :label="help">
        <template v-slot:icon>
          <IconHelp />
        </template>
      </NavButton>
    </div>
    <UserComponent/>
  </div>
</template>

<script>
import NavButton from "@/components/partials/NavButton.vue";
import IconKey from "@/components/icons/IconKey.vue";
import IconProduct from "@/components/icons/IconProduct.vue";
import IconUser from "@/components/icons/IconUser.vue";
import IconIncome from "@/components/icons/IconIncome.vue";
import IconPromote from "@/components/icons/IconPromote.vue";
import IconHelp from "@/components/icons/IconHelp.vue";
import LogoComponent from "@/components/partials/LogoComponent.vue";
import UserComponent from "@/components/UserComponent.vue";
import IconChevron from "@/components/icons/IconChevron.vue";
export default {
  name: "NavBar",
  components: {
    IconChevron,
    UserComponent,
    LogoComponent, IconHelp, IconPromote, IconIncome, IconUser, IconProduct, IconKey, NavButton},
  data() {
    return {
      dashboard: 'Dashboard',
      product: 'Product',
      customers: 'Customers',
      income: 'Income',
      promote: 'Promote',
      help: 'Help',
      chevron: 'none'
    };
  },
}
</script>

<style scoped>
.navbar {
  display: flex;
  flex-direction: column;
  padding: 0 26px 76px 26px;
  width: 306px;
  height: 100vh;
}
.navbar__buttons {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
@media (max-width: 1024px) {
  .navbar {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 110px;
    padding: 26px 26px;
  }
  .navbar__buttons {
    display: none;
  }
}
</style>