<script setup>
import { RouterLink, RouterView } from 'vue-router'
import NavBar from "@/components/NavBar.vue";
</script>

<template>
  <div class="wrapper">
    <NavBar/>
    <div class="content">
      <div class="greeting">Hello Evano <span class="wave">👋</span></div>
      <RouterView/>
    </div>
  </div>
</template>

<style scoped>
.wrapper {
  display: flex;
  flex-direction: row;
}
.content {
  padding: 41px 95px 76px 71px;
  height: 100vh;
  flex-grow: 1;
  background-color: #FAFBFF;
}
.greeting {
  font-size: 24px;
  padding-bottom: 51px;
}
.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
  10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}
@media (max-width: 1024px) {
  .wrapper {
    flex-direction: column;
  }
  .content {
    padding: 26px;
  }
  .greeting {
    text-align: center;
    padding: 0 0 26px 0;
  }
}
</style>
